{% extends "base.html" %}
{% load static %}


{% block javascript %}
<script>
$("#no").click(function(e) {
   e.preventDefault();
    var file = $("#id_Data").prop('files')[0];
    var reader = new FileReader();
    reader.readAsText(file, 'UTF-8');
    reader.onload = shipOff;

    // stop();

    function shipOff(event) {
        var result = event.target.result;
        var fileName = file.name; //Should be 'picture.jpg'
        console.log(result, fileName);
        $.ajax({
                type: "post",
                url: "./",
                data: {
                    id: $(this).val(), // < note use of 'this' here
                    csrfmiddlewaretoken : $("[name=csrfmiddlewaretoken]").val(),
                    data: result,
                    name:  fileName
                },
                success: function(result) {
                     // alert('ok');
                },
                error: function(result) {
                    // alert('error');
                }
            });
        }

    });
</script>
<script>
    document.title = "GraphViz - Import"
</script>
{% endblock %}


{% block content %}

    <div class="container" id="importPage">
        <div class="input" id="import">
            <div class="header">
                <h3>Import data from file:</h3>
                <a data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-info-circle"></i></a>
            </div>
            <form id="importForm" method='POST' class="form dropzone" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-primary"  id="importBtn" type="submit" value="Save">
            </form>
        </div>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="importInfo" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <img src="{% static "InstructionImport.png" %}" class="rounded">
                </div>
            </div>
        </div>

        <!-- <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
        </div>
        <div class="input" id="random">
            <h3>Random data generator:</h3>
            <label disabled for="nodeAmount">Amount of nodes (0-2000):</label>
            <input disabled type="number" id="nodeAmount" name="nodeAmount" min="0" max="2000" step="1">
            <label disabled for="maxWeight">Maximum weight of an edge:</label>
            <input disabled type="number" id="maxWeight" name="maxWeight" min="1" max="100" step="1">
            <label disabled for="edgeChance">Amount of edges (%):</label>
            <input disabled type="number" id="edgeChance" name="edgeChance" min="0" max="100" step=".001">
            <input disabled type="submit" id="submitRandom" value="Generate">
        </div>-->
    </div>
{% endblock %}
